html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 80% 20%;
  flex-direction: column;
  height: 100%;
}

.left {
  display: grid;
  width: 100%;
  grid-template-rows: 8% 92%;
  grid-column: 1;
}

.right {
  display: grid;
  grid-template-rows: 8% 92%;
  grid-column: 2;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 1%; /* Optional background color */
}

h2 {
  text-align: center;
  margin: 0;
  background-color: #f0f0f0; /* Optional background color */
}

.content {
  display: flex;
  grid-row-start: 2;
}

.app-container {
  grid-row: 2;
  width: 100%;
}

.MenuDeroulant {
  display: grid;
  grid-template-rows: 50% 50%;
  align-items: center;
  background-image: url("./test.jpg");
}

.MenuDeroulant h4 {
  margin-left: auto;
  margin-right: auto;
  grid-row-start: 1;
}

.MenuDeroulant div {
  margin-left: auto;
  margin-right: auto;
  grid-row-start: 2;
}

.Score {
  grid-row-start: 2;
  border: 1px solid #ccc;
}
